<nav class="navbar navbar-expand bg-light navbar-light">
  <div class="container">
    <a class="navbar-brand">NotesApp</a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn btn-outline-success"><i class="fa fa-plus"></i></button>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
        </li>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search your notes...">
        </form>
      </ul>
    </div>
  </div>
</nav>
