.note-detail-container {
  overflow-y: auto;
  background-color: #f8f9fa;
  width: 100%;
  height: 100%;
}

.note-detail-container p {
  margin-bottom: 0 !important;
}

.note-detail-container .note-title {
  width: 100%;
  border: none;
  padding: 10px 10px;
  background: transparent;
  font-size: 1.25rem;
  font-weight: 500;
}

.note-detail-container .note-body {
  width: 100%;
  height: 74%;
  border: none;
  padding: 10px 10px;
  background: transparent;
}

.note-title:focus {
  outline: none !important;
}

.note-body:focus {
  outline: none !important;
}

textarea {
  resize: none;
}
