<div class="note-detail-container" *ngIf="note; else infoText">
  <div class="p-2 text-center">
    <p class="text-muted">{{getReadableDate(note.updatedOn).toDateString()}} at {{getReadableDate(note.updatedOn).toLocaleTimeString('en-US')}}</p>
  </div>
  <input class="note-title" [(ngModel)]="note.title" placeholder="Note title goes here...">
  <hr>
  <textarea class="note-body" [(ngModel)]="note.notes" placeholder="Node body goes here..."></textarea>
</div>
<ng-template #infoText>
  <div class="note-detail-container text-center p-5">
    <h4>Please select a note!</h4>
  </div>
</ng-template>
