<app-header (search)="onSearch($event)"></app-header>
<br>
<div class="container">
  <button class="btn btn-outline-primary mr-2" (click)="onSideBarToggle()"><i class="fa fa-bars"></i> Notes</button>
  <button class="btn btn-outline-danger" (click)="onClearNotes()"><i class="fa fa-trash-o"></i> Clear Notes</button>
  <div class="notes-container mt-3">
    <div class="notes-list" #notesList>
      <app-notes-list [searchText]="searchText"></app-notes-list>
    </div>
    <div class="note-detail" #noteDetail>
      <app-note-detail></app-note-detail>
    </div>
  </div>
</div>
