.notes-container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-y: auto;
}

.notes-list {
  left: 0;
  bottom: 0;
  width: 40%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  transition: 0.5s;
}

.note-detail {
  width: 100%;
  transition: margin-left .5s;
}

@media (max-width: 768px)  {
  .notes-container {
    height: 100%;
    display: block;
  }

  .notes-list {
    width: 100% !important;
    height: 250px !important;
    overflow-y: auto;
  }

  .note-detail {
    height: 250px;
    width: 100%;
    margin-top: 20px;
  }

  .btn.btn-outline-primary {
    display: none;
  }
}
